---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-cilium
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/kube-system/cilium/app
  targetNamespace: kube-system
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  commonMetadata:
    labels:
      app.kubernetes.io/name: cilium
  prune: false
  wait: true
  interval: 10m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-system-cilium-bgp
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/kube-system/cilium/bgp
  targetNamespace: kube-system
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  commonMetadata:
    labels:
      app.kubernetes.io/name: cilium
  dependsOn:
    - name: kube-system-cilium
  prune: true
  wait: false
  interval: 10m
