---
# yaml-language-server: $schema=https://crd.movishell.pl/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &pgname postgres-immich
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required
  enableSuperuserAccess: true
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.6-0.5.3
  plugins:
    - enabled: true
      isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters: &barmanParameters
        barmanObjectName: minio
        serverName: immich-v1
  postgresql:
    shared_preload_libraries: ["vchord.so"]
    parameters:
      autovacuum_vacuum_scale_factor: "0.1"
      autovacuum_analyze_scale_factor: "0.05"
      autovacuum_vacuum_cost_limit: "1000"
      effective_io_concurrency: "200"
      random_page_cost: "1.2"
      shared_buffers: 256MB
      max_connections: "300"
      work_mem: 16MB
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  managed:
    services:
      additional:
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: *pgname
              annotations:
                external-dns.alpha.kubernetes.io/hostname: postgres-immich.${PRIVATE_DOMAIN}
                gatus.home-operations.com/enabled: "true"
                gatus.home-operations.com/endpoint: |
                  name: postgres-immich
                  conditions:
                    - "[CONNECTED] == true"
                  group: Services
                  ui:
                    hide-hostname: true
                    hide-url: true
                  alerts:
                    - type: pushover
                      send-on-resolved: true
            spec:
              type: LoadBalancer
          updateStrategy: patch
      disabledDefaultServices: ["ro"]
  bootstrap:
    initdb:
      import:
        databases: ["*"]
        roles: ["*"]
        source:
          externalCluster: immich-pg17
        type: monolith
  #   recovery:
  #     source: source
  externalClusters:
    - name: immich-pg17
      connectionParameters:
        host: immich-pg17-rw.database.svc.cluster.local
        user: postgres
        dbname: postgres
        sslmode: require
      password:
        key: password
        name: cloudnative-pg-secret
  # externalClusters:
  #   - name: source
  #     plugin:
  #       enabled: true
  #       isWALArchiver: true
  #       name: barman-cloud.cloudnative-pg.io
  #       parameters: *barmanParameters
