---
# yaml-language-server: $schema=https://crd.movishell.pl/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &pgname postgres-immich
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  affinity:
    enablePodAntiAffinity: true
    topologyKey: kubernetes.io/hostname
    podAntiAffinityType: required
  enableSuperuserAccess: true
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:18.3-standard-trixie@sha256:6740b49ca99b8ec7eb8fc9b3e116d1b9c28db0a0062da1026b2b220bcd6b8781
  plugins:
    - enabled: true
      isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters: &barmanParameters
        barmanObjectName: minio
        serverName: immich-v1
  postgresql:
    extensions:
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib
        extension_control_path:
          - /usr/share/postgresql/18/
    shared_preload_libraries: ["vchord.so"]
    parameters:
      autovacuum_vacuum_scale_factor: "0.1"
      autovacuum_analyze_scale_factor: "0.05"
      autovacuum_vacuum_cost_limit: "1000"
      effective_io_concurrency: "200"
      random_page_cost: "1.2"
      shared_buffers: 256MB
      max_connections: "300"
      work_mem: 16MB
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      memory: 2Gi
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  managed:
    services:
      additional:
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: *pgname
              annotations:
                external-dns.alpha.kubernetes.io/hostname: postgres-immich.${PRIVATE_DOMAIN}
                gatus.home-operations.com/enabled: "true"
                gatus.home-operations.com/endpoint: |
                  name: postgres-immich
                  conditions:
                    - "[CONNECTED] == true"
                  group: Services
                  ui:
                    hide-hostname: true
                    hide-url: true
                  alerts:
                    - type: pushover
                      send-on-resolved: true
            spec:
              type: LoadBalancer
          updateStrategy: patch
      disabledDefaultServices: ["r", "ro"]
  # bootstrap:
  #   recovery:
  #     source: source
  # externalClusters:
  #   - name: source
  #     plugin:
  #       enabled: true
  #       isWALArchiver: true
  #       name: barman-cloud.cloudnative-pg.io
  #       parameters: *barmanParameters
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: &cluster postgres-immich
spec:
  podMetricsEndpoints:
    - port: metrics
  selector:
    matchLabels:
      cnpg.io/cluster: *cluster
      cnpg.io/podRole: instance
---
# yaml-language-server: $schema=https://crd.movishell.pl/postgresql.cnpg.io/scheduledbackup_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: &cluster postgres-immich
spec:
  backupOwnerReference: self
  cluster:
    name: *cluster
  immediate: true
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
  schedule: "@daily"
