---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app kube-prometheus-stack
  namespace: &namespace monitor
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: dcsi-iscsi
      namespace: storage
    - name: external-secrets
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/monitor/kube-prometheus-stack/app
  postBuild:
    substitute:
      HOSTNAME: prometheus.${PRIVATE_DOMAIN}
      ALERT_HOSTNAME: alerts.${PRIVATE_DOMAIN}
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
