---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ext-postgres-operator
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/database/ext-postgres-operator/app
  targetNamespace: database
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  prune: true
  wait: true
  interval: 10m
  dependsOn:
    - name: database-cloudnative-pg-cluster
    - name: security-secret-store
