---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-bind
spec:
  chart:
    spec:
      chart: external-dns
      version: 1.14.5
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
  interval: 30m
  values:
    podAnnotations:
      secret.reloader.stakater.com/reload: &secret externaldns-bind-secret
    domainFilters: [ishioni.casa]
    policy: sync
    provider: rfc2136
    sources: [ingress, service]
    txtPrefix: truenas.
    txtOwnerId: truenas
    env:
      - name: EXTERNAL_DNS_RFC2136_HOST
        value: 10.5.0.2
      - name: EXTERNAL_DNS_RFC2136_PORT
        value: "53"
      - name: EXTERNAL_DNS_RFC2136_ZONE
        value: ishioni.casa
      - name: EXTERNAL_DNS_RFC2136_TSIG_AXFR
        value: "true"
      - name: EXTERNAL_DNS_RFC2136_TSIG_KEYNAME
        valueFrom:
          secretKeyRef:
            name: *secret
            key: EXTERNAL_DNS_RFC2136_TSIG_KEYNAME
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET_ALG
        valueFrom:
          secretKeyRef:
            name: *secret
            key: EXTERNAL_DNS_RFC2136_TSIG_SECRET_ALG
      - name: EXTERNAL_DNS_RFC2136_TSIG_SECRET
        valueFrom:
          secretKeyRef:
            name: *secret
            key: EXTERNAL_DNS_RFC2136_TSIG_SECRET
  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *app
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
