---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-homelab
spec:
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  dependsOn:
    - name: github-arc
      namespace: github
  interval: 30m
  values:
    githubConfigUrl: https://github.com/ishioni/homelab-ops
    githubConfigSecret: arc-auth
    minRunners: 1
    maxRunners: 10
    containerMode:
      type: kubernetes
      kubernetesModeWorkVolumeClaim:
        accessModes: ["ReadWriteOnce"]
        storageClassName: openebs-hostpath
        resources:
          requests:
            storage: 2Gi
    template:
      spec:
        automountServiceAccountToken: true
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.331.0@sha256:17e4be4e4664067b9a5f2e43d0e66e0a249654f3783a0a3f17448844a5422be5
            command: ["/home/runner/run.sh"]
            env:
              - name: ACTIONS_RUNNER_REQUIRE_JOB_CONTAINER
                value: "false"
              - name: NODE_IP
                valueFrom:
                  fieldRef:
                    fieldPath: status.hostIP
            volumeMounts:
              - mountPath: /var/run/secrets/talos.dev
                name: talos
                readOnly: true
        securityContext:
          fsGroup: 123
        serviceAccountName: actions-runner
        volumes:
          - name: talos
            secret:
              secretName: actions-runner
    controllerServiceAccount:
      name: github-arc
      namespace: github
---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: arc-homelab-dind
spec:
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set
  dependsOn:
    - name: github-arc
      namespace: github
  maxHistory: 3
  interval: 30m
  uninstall:
    keepHistory: false
  values:
    githubConfigUrl: https://github.com/ishioni/homelab-ops
    githubConfigSecret: arc-auth
    minRunners: 1
    maxRunners: 10
    containerMode:
      type: dind
    template:
      spec:
        automountServiceAccountToken: true
        containers:
          - name: runner
            image: ghcr.io/home-operations/actions-runner:2.331.0@sha256:17e4be4e4664067b9a5f2e43d0e66e0a249654f3783a0a3f17448844a5422be5
            command: ["/home/runner/run.sh"]
    controllerServiceAccount:
      name: github-arc
      namespace: github
