---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app navidrome
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/authentik-proxy
    - ../../../../components/volsync
  dependsOn:
    - name: postgres-cluster
      namespace: database
    - name: external-secrets
      namespace: security
    - name: dcsi-iscsi
      namespace: storage
    - name: volsync
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/selfhosted/navidrome/app
  postBuild:
    substitute:
      APP: *app
      HOSTNAME: navidrome.${PUBLIC_DOMAIN}
      APP_UID: "568"
      APP_GID: "5000"
      PVC_CLAIM: navidrome-config
      PVC_CAPACITY: 5Gi
      VOLSYNC_CACHE_CAPACITY: 5Gi
      PVC_STORAGECLASS: &sc dcsi-iscsi
      VOLSYNC_SNAPSHOTCLASS: *sc
      VOLSYNC_TIME: 0 1 * * *
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
