#shellcheck disable=SC2148,SC2155
export REPO_ROOT=$(git rev-parse --show-toplevel)
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)
export MINIJINJA_CONFIG_FILE="${REPO_ROOT}/.minijinja.toml"
export KUBECONFIG=${REPO_ROOT}/kubeconfig
export TALOSCONFIG=${REPO_ROOT}/talosconfig
