# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
talosconfig
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
.terraform.lock.hcl
# Helm
Chart.lock
*.tgz
# env variables
.devcontainer/devcontainer.env
# Brewfile
Brewfile.lock.json
#Clankers
.claude
