---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./garage.yaml
  - ./minio.yaml
  - ./node-exporter.yaml
  - ./smartctl-exporter.yaml
  - ./speedtest-exporter.yaml
  - ./traefik.yaml
