---
# yaml-language-server: $schema=https://crd.movishell.pl/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name minio
spec:
  staticConfigs: [targets: ["s3.${PUBLIC_DOMAIN}"]]
  metricsPath: /minio/v2/metrics/cluster
  scheme: HTTPS
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
