---
# yaml-language-server: $schema=https://crd.movishell.pl/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name smartctl-exporter
spec:
  staticConfigs:
    - targets:
        - proxmox-1.${PRIVATE_DOMAIN}:9633
        - proxmox-2.${PRIVATE_DOMAIN}:9633
        - proxmox-3.${PRIVATE_DOMAIN}:9633
        # - proxmox-4.${SERVERS_DOMAIN}:9633
        - quadrant.${PRIVATE_DOMAIN}:9633
  metricsPath: /metrics
  honorTimestamps: true
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
