---
# yaml-language-server: $schema=https://crd.movishell.pl/monitoring.coreos.com/scrapeconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: &name traefik
spec:
  staticConfigs: [targets: ["traefik.${PRIVATE_DOMAIN}"]]
  metricsPath: /metrics
  scheme: HTTPS
  honorTimestamps: true
  relabelings:
    - action: replace
      targetLabel: job
      replacement: *name
---
# yaml-language-server: $schema=https://crd.movishell.pl/grafana.integreatly.org/grafanadashboard_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDashboard
metadata:
  name: traefik
spec:
  allowCrossNamespaceImport: true
  datasources:
    - datasourceName: prometheus
      inputName: DS_PROMETHEUS
  folder: network
  instanceSelector:
    matchLabels:
      grafana.internal/instance: grafana-instance
  url: https://grafana.com/api/dashboards/17346/revisions/9/download
