---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app vaultwarden
  namespace: &namespace security
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: postgres-cluster
      namespace: database
    - name: external-secrets
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/security/vaultwarden/app
  postBuild:
    substitute:
      APP: *app
      HOSTNAME: passwords.${PUBLIC_DOMAIN}
      APP_UID: "568"
      APP_GID: "568"
      PVC_CLAIM: vaultwarden-data
      PVC_ACCESSMODES: ReadWriteMany
      PVC_STORAGECLASS: &nfs dcsi-nfs
      VOLSYNC_SNAPSHOTCLASS: *nfs
      VOLSYNC_TIME: 0 15 * * *
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: false
