---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitor-unifi-poller
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/monitor/unifi-poller/app
  targetNamespace: monitor
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  prune: true
  wait: false
  interval: 10m
  dependsOn:
    - name: security-secret-store
