---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
spec:
  instances: 3
  imageName: ghcr.io/tensorchord/cloudnative-pgvecto.rs:16.3-v0.2.1
  enableSuperuserAccess: true
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: truenas-ssd-iscsi
  postgresql:
    shared_preload_libraries: ["vectors.so"]
    parameters:
      max_connections: "300"
      work_mem: 64MB
      shared_buffers: 128MB
  superuserSecret:
    name: cloudnative-pg-secret
  monitoring:
    enablePodMonitor: true
  bootstrap:
    recovery:
      source: &previousCluster postgres-v2
  resources:
    requests:
      cpu: 200m
      memory: 500Mi
    limits:
      memory: 2Gi
  backup:
    retentionPolicy: 7d
    barmanObjectStore:
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 4
      destinationPath: s3://cloudnative-pg/
      endpointURL: https://s3.${PRIVATE_DOMAIN}
      serverName: &currentCluster postgres-v3
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg-secret
          key: s3-access-key
        secretAccessKey:
          name: cloudnative-pg-secret
          key: s3-secret-key

  externalClusters:
    - name: *previousCluster
      barmanObjectStore:
        destinationPath: s3://cloudnative-pg/
        endpointURL: https://s3.${PRIVATE_DOMAIN}
        s3Credentials:
          accessKeyId:
            name: cloudnative-pg-secret
            key: s3-access-key
          secretAccessKey:
            name: cloudnative-pg-secret
            key: s3-secret-key
