---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: it-tools
spec:
  chartRef:
    kind: OCIRepository
    name: it-tools
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      it-tools:
        strategy: RollingUpdate
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 1000
            runAsUser: 1000
        containers:
          app:
            image:
              repository: ghcr.io/sharevb/it-tools
              tag: 2025.10.19@sha256:be0780e34ee8851819c5dc62d7247efc27e038d07f122db7f01417ff03c5e67a
            env:
              TZ: ${CONFIG_TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
    service:
      app:
        controller: it-tools
        ports:
          http:
            port: 8080
    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
    route:
      app:
        # annotations:
        #   gethomepage.dev/enabled: "true"
        #   gethomepage.dev/group: Selfhosted
        #   gethomepage.dev/name: IT-Tools
        hostnames: ["${HOSTNAME}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
