---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: it-tools
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      it-tools:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/corentinth/it-tools
              tag: 2024.5.10-33e5294
            env:
              TZ: ${CONFIG_TIMEZONE}
    service:
      app:
        controller: it-tools
        ports:
          http:
            port: 80
    ingress:
      app:
        className: public
        # annotations:
        #   gethomepage.dev/enabled: "true"
        #   gethomepage.dev/group: Selfhosted
        #   gethomepage.dev/name: IT-Tools
        hosts:
          - host: ${HOSTNAME}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
