---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  chartRef:
    kind: OCIRepository
    name: cloudnative-pg
  interval: 30m
  values:
    crds:
      create: true
    replicaCount: 2
    config:
      data:
        INHERITED_ANNOTATIONS: kyverno.io/ignore
    resources:
      requests:
        cpu: 15m
        memory: 150Mi
      limits:
        memory: 200Mi
    monitoring:
      podMonitorEnabled: true
