#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option forwardfor       except 127.0.0.0/8
    retries                 3
    timeout http-request    10s
    timeout queue           20s
    timeout connect         10s
    timeout client          1h
    timeout server          1h
    timeout http-keep-alive 10s
    timeout check           10s

#---------------------------------------------------------------------
# proxmox frontend
#---------------------------------------------------------------------
frontend http
    bind :80
    bind :443 ssl crt /etc/haproxy/certs/combined.pem
    mode http
    option tcplog
    timeout client 65000
    http-request set-header X-Forwarded-For %[src]
    http-request set-header X-Real-IP %[src]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request redirect scheme https unless { ssl_fc }
    # ACLs for different hosts
    acl proxmox hdr(host) -i proxmox.ishioni.casa
    acl stats_page hdr(host) -i haproxy.ishioni.casa
    acl prometheus hdr(host) -i haproxymetrics.ishioni.casa
    # Backends
    use_backend proxmox if proxmox
    use_backend stats_backend if stats_page
    use_backend prometheus if prometheus
    # Default backend
    default_backend proxmox

# frontend stats
#     bind :8404
#     mode http
#     stats enable
#     stats uri /
#     stats refresh 10s
#     stats admin if TRUE

# frontend k8s_apiserver
#     bind *:6443
#     mode tcp
#     option tcplog
#     default_backend k8s_controlplane

# frontend talos_apiserver
#     bind *:50000
#     mode tcp
#     option tcplog
#     default_backend talos_controlplane

#---------------------------------------------------------------------
# proxmox backends
#---------------------------------------------------------------------
backend proxmox
    timeout server 65000
    stick-table type ip size 200k expire 60m
    stick on src
    server proxmox-1 proxmox-1.ishioni.casa:8006 check ssl verify required ca-file ca-certificates.crt
    server proxmox-2 proxmox-2.ishioni.casa:8006 check ssl verify required ca-file ca-certificates.crt
    server proxmox-3 proxmox-3.ishioni.casa:8006 check ssl verify required ca-file ca-certificates.crt
    server proxmox-4 proxmox-4.ishioni.casa:8006 check ssl verify required ca-file ca-certificates.crt

backend stats_backend
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats admin if TRUE

backend prometheus
    mode http
    http-request use-service prometheus-exporter

# backend k8s_controlplane
#     option httpchk GET /healthz
#     http-check expect status 200
#     mode tcp
#     option ssl-hello-chk
#     balance     roundrobin
#         server master-0 master-0.ishioni.casa:6443 check
#         server master-1 master-1.ishioni.casa:6443 check
#         server master-2 master-2.ishioni.casa:6443 check

# backend talos_controlplane
#     option httpchk GET /healthz
#     http-check expect status 200
#     mode tcp
#     option ssl-hello-chk
#     balance     roundrobin
#         server master-0 master-0.ishioni.casa:50000 check
#         server master-1 master-1.ishioni.casa:50000 check
#         server master-2 master-2.ishioni.casa:50000 check
