---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
  name: ${PVC_CLAIM:-${APP}}
spec:
  accessModes: ["${PVC_ACCESSMODES:-ReadWriteOnce}"]
  storageClassName: ${PVC_STORAGECLASS:-dcsi-iscsi}
  resources:
    requests:
      storage: ${PVC_CAPACITY:-1Gi}
  dataSourceRef:
    name: ${APP}-rdst
    kind: ReplicationDestination
    apiGroup: volsync.backube
