---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux-system-addons
  namespace: flux-system
spec:
  path: ./kubernetes/truenas/apps/flux-system/add-ons
  targetNamespace: flux-system
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  prune: true
  wait: true
  interval: 10m
