---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: recyclarr
spec:
  chartRef:
    kind: OCIRepository
    name: recyclarr
  dependsOn:
    - name: sonarr
    - name: radarr
  interval: 30m
  values:
    controllers:
      recyclarr:
        type: cronjob
        annotations:
          secret.reloader.stakater.com/reload: &secret recyclarr-secret
          configmap.reloader.stakater.com/reload: &configmap recyclarr-configmap
        cronjob:
          schedule: "@daily"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 8.3.2
            args: ["sync"]
            env:
              TZ: ${CONFIG_TIMEZONE}
              COMPlus_EnableDiagnostics: "0"
            envFrom:
              - secretRef:
                  name: *secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    persistence:
      config:
        existingClaim: ${PVC_CLAIM}
      config-file:
        type: configMap
        name: *configmap
        globalMounts:
          - path: /config/recyclarr.yml
            subPath: recyclarr.yml
            readOnly: true
