---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-cloudflare
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns-cloudflare
  interval: 30m
  values:
    logLevel: info
    domainFilters: ["${PUBLIC_DOMAIN}"]
    policy: sync
    sources: [gateway-httproute]
    triggerLoopOnEvent: true
    txtPrefix: talos.
    txtOwnerId: talos
    extraArgs:
      - --gateway-name=envoy-external
    provider:
      name: cloudflare
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: &secret externaldns-cloudflare-secret
            key: CF_API_TOKEN
    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
