---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app authentik
  namespace: &namespace security
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
    - name: postgres-cluster
      namespace: database
    - name: dragonfly-cluster
      namespace: database
    - name: external-secrets
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/security/authentik/app
  postBuild:
    substitute:
      HOSTNAME: auth.${PUBLIC_DOMAIN}
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
