---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
components:
  - ../../components/alerts
  - ../../components/namespace
resources:
  - ./cloudnative-pg/ks.yaml
  - ./dragonfly/ks.yaml
