---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: recyclarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: cronjob
      cronjob:
        schedule: 0 6 * * *
    image:
      repository: ghcr.io/recyclarr/recyclarr
      tag: 5.4.3
    command: ["/app/recyclarr/recyclarr"]
    args: ["sync"]
    env:
      TZ: Europe/Warsaw
      PUID: "568"
      PGID: "568"
    persistence:
      config:
        enabled: true
        type: secret
        name: recyclarr-secret
        mountPath: /config/recyclarr.yml
        subPath: recyclarr.yml
        readOnly: true
    service:
      main:
        enabled: false
