---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chartRef:
    kind: OCIRepository
    name: authentik
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    global:
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      envFrom:
        - secretRef:
            name: *secret
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: authentik-media
      volumeMounts:
        - name: media
          mountPath: /media
    server:
      replicas: 1
      initContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:17.6
          envFrom:
            - secretRef:
                name: *secret
      resources:
        requests:
          cpu: 50m
          memory: 500Mi
        limits:
          memory: 800Mi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      route:
        main:
          enabled: true
          annotations:
            gatus.home-operations.com/endpoint: |-
              name: authentik
              url: https://auth.movishell.pl/-/health/live/
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Infrastructure
            gethomepage.dev/name: Authentik
            gethomepage.dev/icon: authentik.png
            gethomepage.dev/pod-selector: app.kubernetes.io/name=authentik
            gethomepage.dev/widget.type: authentik
            gethomepage.dev/widget.version: "2"
            gethomepage.dev/widget.url: http://authentik-server.security
            gethomepage.dev/widget.key: "{{HOMEPAGE_VAR_AUTHENTIK_TOKEN}}"
          hostnames: ["${HOSTNAME}"]
          parentRefs:
            - group: gateway.networking.k8s.io
              kind: Gateway
              name: envoy-external
              namespace: network
              sectionName: https
    worker:
      replicas: 1
      resources:
        requests:
          cpu: 50m
          memory: 500Mi
        limits:
          memory: 1200Mi
    # authentik:
    #   # log_level: debug
    #   redis:
    #     host: dragonfly.database.svc.cluster.local
    prometheus:
      rules:
        enabled: true
