---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich
spec:
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    timeout: 30m
  interval: 30m
  maxHistory: 3
  upgrade:
    timeout: 30m
  uninstall:
    keepHistory: false
  values:
    controllers:
      server:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret immich-secret
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.3@sha256:6fa1f331cddd2eb0b6afa7b8d3685c864127a81ab01c3d9400bc3ff5263a51cf
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: *secret
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: *app
                  app.kubernetes.io/controller: server
        containers:
          server:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6
            envFrom:
              - secretRef:
                  name: *secret
            env:
              IMMICH_CONFIG_FILE: /config/immich-config.yaml
              IMMICH_WORKERS_INCLUDE: api
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 2000Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/server/ping
                    port: &serverport 2283
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
      microservices:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: *secret
        pod:
          resourceClaims:
            - name: gpu
              resourceClaimTemplateName: immich-gpu
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: *app
                  app.kubernetes.io/controller: microservices
        containers:
          microservices:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v2.5.6
            envFrom:
              - secretRef:
                  name: *secret
            env:
              IMMICH_CONFIG_FILE: /config/immich-config.yaml
              IMMICH_WORKERS_EXCLUDE: api
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 2500Mi
      machine-learning:
        strategy: RollingUpdate
        pod:
          enableServiceLinks: false
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/instance: *app
                  app.kubernetes.io/controller: machine-learning
        containers:
          machine-learning:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6
            env:
              MACHINE_LEARNING_PRELOAD__CLIP__TEXTUAL: ViT-B-16-SigLIP__webli
              MACHINE_LEARNING_PRELOAD__CLIP__VISUAL: ViT-B-16-SigLIP__webli
              MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__RECOGNITION: buffalo_l
              MACHINE_LEARNING_PRELOAD__FACIAL_RECOGNITION__DETECTION: buffalo_l
              MPLCONFIGDIR: /cache/matplotlib
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 4000Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: &mlport 3003
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 5
              readiness: *probes
              startup:
                enabled: false
    service:
      server:
        controller: server
        ports:
          http:
            port: *serverport
          metrics:
            port: 8081
      microservices:
        controller: microservices
        ports:
          metrics:
            port: 8081
      machine-learning:
        controller: machine-learning
        ports:
          http:
            port: *mlport

    # serviceMonitor:
    #   immich:
    #     serviceName: immich-server
    #     endpoints:
    #       - port: metrics
    #         scheme: http
    #         path: /metrics
    #         interval: 1m
    #         scrapeTimeout: 30s
    #   microservices:
    #     serviceName: immich-microservices
    #     endpoints:
    #       - port: metrics
    #         scheme: http
    #         path: /metrics
    #         interval: 1m
    #         scrapeTimeout: 30s

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Selfhosted
          gethomepage.dev/name: Immich
          gethomepage.dev/icon: immich.png
          gethomepage.dev/widget.type: immich
          gethomepage.dev/widget.url: http://immich-server.selfhosted:2283
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_IMMICH_TOKEN}}`}}"
          gethomepage.dev/widget.version: "2"
        hostnames: ["${HOSTNAME}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: server
                port: *serverport
    persistence:
      config:
        type: secret
        name: immich-secret
        advancedMounts:
          server:
            server:
              - path: /config/immich-config.yaml
                subPath: immich-config.yaml
          microservices:
            microservices:
              - path: /config/immich-config.yaml
                subPath: immich-config.yaml
      library:
        type: nfs
        server: ${CONFIG_TRUENAS_IP}
        path: /mnt/SSD/talos/volumes/immich
        advancedMounts:
          server:
            server:
              - path: /data
          microservices:
            microservices:
              - path: /data
      tmpfs:
        type: emptyDir
        advancedMounts:
          server:
            server:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding-dump
              - path: /usr/src/app/.transformers_cache
                subPath: transformers-cache
          microservices:
            microservices:
              - path: /usr/src/app/.reverse-geocoding-dump
                subPath: geocoding-dump
              - path: /usr/src/app/node_modules/local-reverse-geocoder/geonames_dump
                subPath: geonames
              - path: /usr/src/app/.transformers_cache
                subPath: transformers-cache
          machine-learning:
            machine-learning:
              - path: /config/matplotlib
      model-cache:
        suffix: mlcache
        size: 10Gi
        accessMode: ReadWriteMany
        storageClass: dcsi-nfs
        type: persistentVolumeClaim
        advancedMounts:
          machine-learning:
            machine-learning:
              - path: /cache
                subPath: cache
              - path: /.cache
                subPath: dotCache
