---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./configmap.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./ocirepository.yaml
  - ./pvc.yaml
configMapGenerator:
  - name: immich-config-tpl
    files: [./config/immich.config.json]
configurations:
  - ./config/kustomizeconfig.yaml
labels:
  - pairs:
      app.kubernetes.io/name: immich
