---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name n8n-secret
  namespace: automation
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # N8N
        N8N_ENCRYPTION_KEY: "{{ .SECRET_KEY }}"
        DB_POSTGRESDB_HOST: &dbhost postgres-rw.database.svc.cluster.local
        DB_POSTGRESDB_PORT: "5432"
        DB_POSTGRESDB_DATABASE: &dbname n8n
        DB_POSTGRESDB_USER: &dbuser "{{ .POSTGRES_USER }}"
        DB_POSTGRESDB_PASSWORD: &dbpass "{{ .POSTGRES_PASS }}"
        N8N_SMTP_HOST: "{{ .SMTP_HOST }}"
        N8N_SMTP_PORT: "{{ .SMTP_PORT }}"
        N8N_SMTP_USER: "{{ .SMTP_USERNAME }}"
        N8N_SMTP_PASS: "{{ .SMTP_PASS }}"
        N8N_SMTP_SENDER: n8n@${SECRET_DOMAIN}
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: *dbuser
        INIT_POSTGRES_PASS: *dbpass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: n8n
    - extract:
        key: cloudnative-pg
    - extract:
        key: smtp
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name n8n-restic-s3
  namespace: automation
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: "{{ .REPOSITORY_TEMPLATE }}/n8n"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        AWS_ACCESS_KEY_ID: "{{ .S3_ACCESS_KEY }}"
        AWS_SECRET_ACCESS_KEY: "{{ .S3_SECRET_KEY }}"
  dataFrom:
    - extract:
        key: volsync
