---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: talos-1
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
  match: mac(link.permanent_addr) == "1c:fd:08:75:15:c2"
