---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
spec:
  chart:
    spec:
      chart: reloader
      version: 1.0.98
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  interval: 30m
  values:
    fullnameOverride: reloader
    resources:
      limits:
        cpu: 50m
        memory: 50Mi
