NODE_ENV=production
MONGO_INITDB_ROOT_USERNAME=mongodbadmin
MONGO_INITDB_ROOT_PASSWORD=mongodbpasswd
HOSTNAME=amt.services.{{ secret_domain }}
USE_MONGODB=false
REVERSE_PROXY=amt.services.{{ secret_domain }}
REVERSE_PROXY_TLS_PORT=443
IFRAME=false
ALLOW_NEW_ACCOUNTS=false
WEBRTC=false
ALLOWPLUGINS=false
LOCALSESSIONRECORDING=false
MINIFY=true
