---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
spec:
  chartRef:
    kind: OCIRepository
    name: openebs
  interval: 30m
  values:
    localpv-provisioner:
      rbac:
        create: true
      localpv:
        image:
          registry: quay.io/
          repository: openebs/provisioner-localpv
        priorityClassName: system-node-critical
      hostpathClass:
        enabled: true
        name: openebs-hostpath
        isDefaultClass: false
        basePath: /var/mnt/local/openebs
      analytics:
        enabled: false

    openebs-crds:
      csi:
        volumeSnapshots:
          enabled: false
          keep: false

    zfs-localpv:
      enabled: false

    lvm-localpv:
      enabled: false

    mayastor:
      enabled: false

    engines:
      local:
        lvm:
          enabled: false
        zfs:
          enabled: false
      replicated:
        mayastor:
          enabled: false
    loki:
      enabled: false
    alloy:
      enabled: false
    minio:
      enabled: false
