---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-nvmeof
spec:
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.6
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  interval: 30m
  values:
    controller:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret dcsi-nvmeof-secret
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.1
        logLevel: debug
        imagePullPolicy: IfNotPresent
      priorityClassName: system-cluster-critical
    node:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.1
        logLevel: debug
        imagePullPolicy: IfNotPresent
      priorityClassName: system-node-critical
    csiProxy:
      image: ghcr.io/democratic-csi/csi-grpc-proxy:v0.5.6
    csiDriver:
      name: "org.democratic-csi.nvmeof"
    storageClasses:
      - name: truenas-ssd-nvmeof
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
          detachedVolumesFromSnapshots: true
          detachedVolumesFromVolumes: true
        mountOptions: []
        secrets:
          provisioner-secret:
          controller-publish-secret:
          node-stage-secret:
          node-publish-secret:
          controller-expand-secret:
    volumeSnapshotClasses:
      - name: truenas-ssd-nvmeof
        driver: org.democratic-csi.nvmeof
        annotations:
          snapshot.storage.kubernetes.io/is-default-class: "false"
        deletionPolicy: Delete
        parameters:
          detachedSnapshots: "false"
    driver:
      config:
        driver: zfs-generic-nvmeof
      existingConfigSecret: *secret
