---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name prowlarr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        # App
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR__API_KEY }}"
        PROWLARR__POSTGRES__HOST: &dbHost postgres-16-rw.database.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: &dbUser "{{ .POSTGRES_USER }}"
        PROWLARR__POSTGRES__PASSWORD: &dbPass "{{ .POSTGRES_PASS }}"
        PROWLARR__POSTGRES__MAINDB: &dbName prowlarr
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: prowlarr
    - extract:
        key: cloudnative-pg
