---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whoami
spec:
  chartRef:
    kind: OCIRepository
    name: whoami
  interval: 30m
  values:
    controllers:
      whoami:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/traefik/whoami
              tag: v1.11.0
            env:
              WHOAMI_PORT_NUMBER: &port 8080
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: *port
              readiness: *probes
    service:
      app:
        controller: whoami
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["${HOSTNAME}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    ingress:
      app:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
        className: traefik
        hosts:
          - host: whoami.traefik.ishioni.casa
            paths:
              - path: /
                service:
                  name: app
                  port: *port
        tls:
          - hosts:
              - whoami.traefik.ishioni.casa
            secretName: whoami.traefik.ishioni.casa
