---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: whoami
spec:
  chartRef:
    kind: OCIRepository
    name: whoami
  interval: 30m
  values:
    controllers:
      whoami:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/traefik/whoami
              tag: v1.11.0
            env:
              WHOAMI_PORT_NUMBER: &port 8080
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: *port
              readiness: *probes
    service:
      app:
        controller: whoami
        ports:
          http:
            port: *port
    route:
      app:
        hostnames: ["${HOSTNAME}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
      test:
        hostnames: [whoami.test.ishioni.casa]
        parentRefs:
          - name: envoy-internal-test
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - kind: Service
                name: whoami
                namespace: default
                port: *port
            matches:
              - path:
                  type: PathPrefix
                  value: /
          - backendRefs:
              - group: ""
                kind: Service
                name: error-pages
                port: 8080
                weight: 1
            matches:
              - path:
                  type: Exact
                  value: /500.html
              - path:
                  type: Exact
                  value: /400.html
