---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app immich-microservices
  namespace: fileserver
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: immich-typesense
    - name: redis
      namespace: database
  values:
    controller:
      strategy: RollingUpdate
      annotations:
        secret.reloader.stakater.com/reload: &secret immich-secret
        configMap.reloader.stakater.com/reload: &configmap immich-configmap
    image:
      repository: ghcr.io/immich-app/immich-server
      tag: v1.79.0
    args: ["start-microservices.sh"]
    envFrom:
      - secretRef:
          name: *secret
      - configMapRef:
          name: *configmap
    service:
      main:
        enabled: false
    persistence:
      library:
        enabled: true
        existingClaim: immich-media
        mountPath: /usr/src/app/upload
      geocoding-dump:
        enabled: true
        type: emptyDir
        mountPath: /usr/src/app/.reverse-geocoding-dump
      geoname-dump:
        enabled: true
        type: emptyDir
        mountPath: /usr/src/app/node_modules/local-reverse-geocoder/geonames_dump
      transformers-cache:
        enabled: true
        type: emptyDir
        mountPath: /usr/src/app/.transformers_cache
    nodeSelector:
      intel.feature.node.kubernetes.io/gpu: "true"
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    resources:
      requests:
        gpu.intel.com/i915: 1
        cpu: 100m
        memory: 250Mi
      limits:
        gpu.intel.com/i915: 1
        memory: 2500Mi
