---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpoller
spec:
  chartRef:
    kind: OCIRepository
    name: unpoller
  interval: 30m
  values:
    controllers:
      unpoller:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret unpoller-secret
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.28.0
            env:
              TZ: ${CONFIG_TIMEZONE}
              UP_INFLUXDB_DISABLE: true
              UP_UNIFI_DEFAULT_SAVE_DPI: true
              UP_UNIFI_DEFAULT_VERIFY_SSL: true
            envFrom:
              - secretRef:
                  name: *secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 9130
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 15m
                memory: 30Mi
              limits:
                memory: 50Mi
    service:
      app:
        controller: unpoller
        ports:
          http:
            port: *port
