---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: reloader
spec:
  interval: 30m
  chart:
    spec:
      chart: reloader
      version: 1.0.95
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
  values:
    fullnameOverride: reloader
    resources:
      limits:
        cpu: 50m
        memory: 50Mi
