---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: selfhosted-paperless
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/selfhosted/paperless/app
  targetNamespace: selfhosted
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname paperless
  prune: true
  wait: false
  interval: 10m
  dependsOn:
    - name: database-cloudnative-pg-cluster
    - name: database-dragonfly-cluster
    - name: security-secret-store
    - name: storage-democratic-csi-nfs
    - name: storage-volsync
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: documents.${PUBLIC_DOMAIN}
      APP_UID: "568"
      APP_GID: "568"
      VOLSYNC_CLAIM: paperless-data
      VOLSYNC_CAPACITY: 5Gi
      VOLSYNC_CACHE_CAPACITY: 5Gi
      VOLSYNC_STORAGECLASS: truenas-ssd-nfs
      VOLSYNC_CACHE_SNAPSHOTCLASS: truenas-ssd-nfs
      VOLSYNC_SNAPSHOTCLASS: truenas-ssd-nfs
      VOLSYNC_TIME: 0 3 * * *
