---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app ocis
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname ocis
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: external-secrets
      namespace: security
    - name: dcsi-nfs
      namespace: storage
    - name: volsync
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/selfhosted/ocis/app
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: ocis.${PUBLIC_DOMAIN}
      AUTH_HOSTNAME: auth.${PUBLIC_DOMAIN}
      APP_UID: "568"
      APP_GID: "568"
      PVC_CLAIM: ocis-data
      PVC_CAPACITY: &size 20Gi
      VOLSYNC_CACHE_CAPACITY: *size
      PVC_STORAGECLASS: &sc dcsi-nfs
      VOLSYNC_SNAPSHOTCLASS: *sc
      PVC_ACCESSMODES: ReadWriteMany
      VOLSYNC_TIME: 0 13 * * *
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: selfhosted
  wait: false
