---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-operator-crds
spec:
  chart:
    spec:
      chart: prometheus-operator-crds
      version: 17.0.2
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    crds: CreateReplace
  interval: 30m
  maxHistory: 3
  upgrade:
    crds: CreateReplace
  uninstall:
    keepHistory: false
