---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitor
components:
  - ../../components/alerts
  - ../../components/namespace
resources:
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./grafana-operator/ks.yaml
  - ./kromgo/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./nut-exporter/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./thanos/ks.yaml
  - ./unpoller/ks.yaml
