---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app readur
  namespace: &namespace selfhosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: postgres-cluster
      namespace: database
    - name: external-secrets
      namespace: security
    - name: dcsi-nfs
      namespace: storage
    - name: volsync
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/selfhosted/readur/app
  postBuild:
    substitute:
      APP: *app
      HOSTNAME: readur.${PRIVATE_DOMAIN}
      APP_UID: "568"
      APP_GID: "568"
      PVC_CLAIM: readur-data
      PVC_CAPACITY: 5Gi
      VOLSYNC_CACHE_CAPACITY: 5Gi
      PVC_STORAGECLASS: &sc dcsi-nfs
      VOLSYNC_SNAPSHOTCLASS: *sc
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
