---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted
components:
  - ../../components/alerts
  - ../../components/namespace
resources:
  - ./atuin/ks.yaml
  - ./convertx/ks.yaml
  - ./go2rtc/ks.yaml
  - ./immich/ks.yaml
  - ./it-tools/ks.yaml
  - ./navidrome/ks.yaml
  - ./ocis/ks.yaml
  - ./openwebui/ks.yaml
  - ./paperless/ks.yaml
  - ./searxng/ks.yaml
  - ./selfhosted-pvc/ks.yaml
