---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: cilium
    repo: https://helm.cilium.io/
    version: 1.14.2
    releaseName: cilium
    namespace: kube-system
    valuesFile: values.yaml

transformers:
  - transformers.yaml
