---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: talos-s3-backup
spec:
  schedule: "10 0/12 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: talos-backup
              image: ghcr.io/siderolabs/talos-backup:v0.1.0-alpha.0-1-g17b8780
              workingDir: /tmp
              imagePullPolicy: Always
              envFrom:
                - secretRef:
                    name: talos-s3-secret
              securityContext:
                runAsUser: 1000
                runAsGroup: 1000
                allowPrivilegeEscalation: false
                runAsNonRoot: true
                capabilities:
                  drop: [ALL]
                seccompProfile:
                  type: RuntimeDefault
              command: [/talos-backup]
              volumeMounts:
                - mountPath: /tmp
                  name: tmp
                - mountPath: /var/run/secrets/talos.dev
                  name: talos-secrets
          restartPolicy: OnFailure
          tolerations:
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
          volumes:
            - emptyDir: {}
              name: tmp
            - name: talos-secrets
              secret:
                secretName: talos-s3-backup
