---
services:
  node-exporter:
    image: quay.io/prometheus/node-exporter:v1.10.2
    container_name: node-exporter
    restart: unless-stopped
    command:
      - --path.rootfs=/host/root
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.udev.data=/host/root/run/udev/data
      - --web.listen-address=0.0.0.0:9100
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
      # - --no-collector.filesystem
      # - --no-collector.zfs
      # - --no-collector.filesystem
      # - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+)($|/)
      # - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs)$
    ports:
      - ${NODE_PORT}:${NODE_PORT}
    network_mode: host
    volumes:
      - /:/host/root:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
  smartctl-exporter:
    image: quay.io/prometheuscommunity/smartctl-exporter:v0.14.0
    container_name: smartctl-exporter
    restart: unless-stopped
    environment:
      TZ: Europe/Warsaw
    # command:
    #   - --smartctl.path=/usr/sbin/smartctl
    #   - --smartctl.interval=120s
    #   - --web.listen-address=0.0.0.0:9633
    #   - --web.telemetry-path=/metrics
    # - --smartctl.device=/dev/disk/by-id/ata-HUH721212ALE601_8HJPV7VH
    # - --smartctl.device=/dev/disk/by-id/ata-HUH721212ALE601_8HJUZERH
    # - --smartctl.device=/dev/disk/by-id/ata-HUH721212ALE601_8HK07LRH
    # - --smartctl.device=/dev/disk/by-id/ata-HUH721212ALE601_8HK6Z84H
    # - --smartctl.device=/dev/disk/by-id/ata-Samsung_SSD_860_EVO_M.2_500GB_S414NR0R202377Y
    # - --smartctl.device=/dev/disk/by-id/ata-Samsung_SSD_860_EVO_M.2_500GB_S414NW0R103489Y
    # - --smartctl.device=/dev/disk/by-id/ata-WDC_WDS240G2G0B-00EPW0_21039U457308
    # - --smartctl.device=/dev/disk/by-id/ata-WDC_WDS240G2G0B-00EPW0_21039U467107
    # - --smartctl.device=/dev/disk/by-id/nvme-INTEL_SSDPEK1A058GA_BTOC125601MJ058A
    # - --smartctl.device=/dev/disk/by-id/nvme-INTEL_SSDPEK1A058GA_BTOC14120Y0A058A
    privileged: true
    user: root
    ports:
      - ${SMART_PORT}:${SMART_PORT}
    # volumes:
    #   - "/dev:/hostdev:ro,rslave"
