---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
kind: HelmRelease
metadata:
  name: tuppr
spec:
  chartRef:
    kind: OCIRepository
    name: tuppr
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    replicaCount: 2
    serviceMonitor:
      enabled: true
