---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 15m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 43.0.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    # createNamespace: true
    # crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    # crds: CreateReplace
    remediation:
      retries: 3
  dependsOn:
    - name: truenas-csp
      namespace: storage
  values:
    alertmanager:
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: private
          hajimari.io/appName: "Alert Manager"
          hajimari.io/icon: mdi:alert-decagram-outline
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        hosts:
          - &host "alerts.${SECRET_INTERNAL_DOMAIN}"
        tls:
          - hosts:
              - *host
            secretName: *host
        path: /
        pathType: Prefix
      config:
        global:
          resolve_timeout: 5m
        route:
          group_by: ["alertname", "job"]
          group_wait: 30s
          group_interval: 5m
          repeat_interval: 6h
          receiver: "telegram"
          routes:
            - receiver: "null"
              matchers:
                - alertname =~ "InfoInhibitor|Watchdog|CPUThrottlingHigh"
              continue: false
            - receiver: "telegram"
        receivers:
          - name: "null"
          - name: "telegram"
            telegram_configs:
              - parse_mode: MarkdownV2
                disable_notifications: false
                send_resolved: true
        inhibit_rules:
          - source_match:
              severity: "critical"
            target_match:
              severity: "warning"
            equal: ["alertname", "namespace"]
        templates:
          - /etc/alertmanager/config/*.tmpl
      alertmanagerSpec:
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: truenas-ssd
              resources:
                requests:
                  storage: 1Gi
    kube-state-metrics:
      metricLabelsAllowlist:
        - "persistentvolumeclaims=[*]"
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels:
                - __meta_kubernetes_pod_node_name
              targetLabel: kubernetes_node
    grafana:
      enabled: false
      forceDeployDashboards: true
      sidecar:
        dashboards:
          multicluster:
            etcd:
              enabled: true
    kubelet:
      enabled: true
      serviceMonitor:
        metricRelabelings:
          - action: replace
            sourceLabels:
              - node
            targetLabel: instance
    kubeApiServer:
      enabled: true
    kubeControllerManager:
      enabled: true
      endpoints:
        - 10.1.4.4
        - 10.1.4.5
        - 10.1.4.6
    kubeScheduler:
      enabled: true
      endpoints:
        - 10.1.4.4
        - 10.1.4.5
        - 10.1.4.6
    kubeProxy:
      enabled: true
      endpoints:
        - 10.1.4.4
        - 10.1.4.5
        - 10.1.4.6
    kubeEtcd:
      enabled: true
      endpoints:
        - 10.1.4.4
        - 10.1.4.5
        - 10.1.4.6
      service:
        enabled: true
        port: 2381
        targetPort: 2381
    prometheus:
      ingress:
        enabled: true
        ingressClassName: private
        annotations:
          hajimari.io/appName: "Prometheus"
          hajimari.io/icon: simple-icons:prometheus
          cert-manager.io/cluster-issuer: "letsencrypt-production"
        pathType: Prefix
        hosts:
          - &host prometheus.${SECRET_INTERNAL_DOMAIN}
        tls:
          - hosts:
              - *host
            secretName: *host
      thanosService:
        enabled: true
      thanosServiceMonitor:
        enabled: true
      thanosIngress:
        enabled: true
        pathType: Prefix
        ingressClassName: private
        annotations:
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          hajimari.io/enable: "false"
        hosts:
          - &host thanos-sidecar.${SECRET_INTERNAL_DOMAIN}
        tls:
          - hosts:
              - *host
            secretName: *host
      prometheusSpec:
        replicas: 1
        podAntiAffinity: hard
        replicaExternalLabelName: __replica__
        externalLabels:
          cluster: homelab-ops
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        retention: 14d
        retentionSize: 45GB
        enableAdminAPI: true
        walCompression: true
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: truenas-ssd
              resources:
                requests:
                  storage: 50Gi
        thanos:
          image: quay.io/thanos/thanos:v0.29.0
          # renovate: datasource=docker depName=quay.io/thanos/thanos
          version: "v0.29.0"
          objectStorageConfig:
            name: thanos-objstore-config
            key: minio.yaml
        resources:
          requests:
            cpu: 10m
            memory: 2000Mi
          limits:
            memory: 8000Mi
        additionalScrapeConfigs: []
  valuesFrom:
    - kind: Secret
      name: alertmanager-secret
      valuesKey: telegram_token
      targetPath: alertmanager.config.receivers[1].telegram_configs[0].bot_token
    - kind: Secret
      name: alertmanager-secret
      valuesKey: telegram_channel
      targetPath: alertmanager.config.receivers[1].telegram_configs[0].chat_id
