---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name dcsi-nvmeof-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        driver-config-file.yaml: |
          driver: freenas-api-nvmeof
          httpConnection:
            protocol: http
            host: "${CONFIG_TRUENAS_HOST}"
            port: "80"
            apiKey: {{ .TRUENAS_API_TOKEN }}
            allowInsecure: true
          zfs:
            datasetProperties:
              "org.freenas:description": "{{`{{ parameters.[csi.storage.k8s.io/pvc/name] }}`}}"
            datasetParentName: SSD/talos/applications
            detachedSnapshotsDatasetParentName: SSD/talos/snapshots
            zvolCompression: gzip
            zvolDedup: false
            zvolEnableReservation: false
            zvolBlocksize: 16K
          nvmeof:
            transports:
              - tcp://${CONFIG_TRUENAS_HOST}:4420
            ports:
              - 1
  dataFrom:
    - extract:
        conversionStrategy: Default
        decodingStrategy: None
        key: democratic-csi
