---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: democratic-csi-nvmeof
  namespace: storage
spec:
  interval: 15m
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.0
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controller:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret dcsi-nvmeof-secret
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:next
        logLevel: debug
        imagePullPolicy: IfNotPresent
      priorityClassName: system-cluster-critical
      externalAttacher:
        enabled: true
    node:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:next
        logLevel: debug
        imagePullPolicy: IfNotPresent
      priorityClassName: system-node-critical
    csiProxy:
      image: ghcr.io/democratic-csi/csi-grpc-proxy:v0.5.3
    csiDriver:
      name: "org.democratic-csi.nvmeof"
      attachRequired: true
    storageClasses:
      - name: truenas-ssd-nvmeof
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
        mountOptions: []
        secrets:
          provisioner-secret:
          controller-publish-secret:
          node-stage-secret:
          node-publish-secret:
          controller-expand-secret:
    driver:
      config:
        driver: zfs-generic-nvmeof
      existingConfigSecret: *secret
