---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: democratic-csi-ssd-iscsi
spec:
  chart:
    spec:
      chart: democratic-csi
      version: 0.14.6
      sourceRef:
        kind: HelmRepository
        name: democratic-csi
        namespace: flux-system
  interval: 30m
  dependsOn:
    - name: snapshot-controller
  values:
    controller:
      replicaCount: 2
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret dcsi-iscsi-secret
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.3
        # imagePullPolicy: Always
      priorityClassName: system-cluster-critical
    node:
      podAnnotations:
        secret.reloader.stakater.com/reload: *secret
      hostPID: true
      cleanup:
        image: public.ecr.aws/docker/library/busybox:1.36.1
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.3
        # imagePullPolicy: Always
        extraEnv:
          - name: ISCSIADM_HOST_STRATEGY
            value: nsenter
          - name: ISCSIADM_HOST_PATH
            value: /usr/local/sbin/iscsiadm
        iscsiDirHostPath: /usr/local/etc/iscsi
        iscsiDirHostPathType: ""
      priorityClassName: system-node-critical
    csiProxy:
      image: ghcr.io/democratic-csi/csi-grpc-proxy:v0.5.6
    csiDriver:
      name: org.democratic-csi.iscsi-ssd
    storageClasses:
      - name: truenas-ssd-iscsi
        defaultClass: true
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        allowVolumeExpansion: true
        parameters:
          fsType: ext4
          detachedVolumesFromSnapshots: true
          detachedVolumesFromVolumes: true
        mountOptions: []
        secrets:
          provisioner-secret:
          controller-publish-secret:
          node-stage-secret:
          node-publish-secret:
          controller-expand-secret:
    volumeSnapshotClasses:
      - name: truenas-ssd-iscsi
        driver: org.democratic-csi.iscsi-ssd
        annotations:
          snapshot.storage.kubernetes.io/is-default-class: "true"
        deletionPolicy: Delete
        parameters:
          detachedSnapshots: false
    driver:
      config:
        driver: freenas-api-iscsi
      existingConfigSecret: *secret
