talos-master-0.kubernetes.internal.yaml
talos-master-1.kubernetes.internal.yaml
talos-master-2.kubernetes.internal.yaml
talos-worker-0.kubernetes.internal.yaml
talos-worker-1.kubernetes.internal.yaml
talos-worker-2.kubernetes.internal.yaml
talosconfig
