---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: media-piped
  namespace: flux-system
spec:
  path: ./kubernetes/apps/media/piped/app
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  prune: true
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  dependsOn:
    - name: database-cloudnative-pg-cluster
    - name: security-external-secrets
