---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app recyclarr
  namespace: &namespace downloads
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: external-secrets
      namespace: security
  interval: 30m
  path: ./kubernetes/apps/downloads/recyclarr/app
  postBuild:
    substitute:
      APP: *app
      PVC_CLAIM: recyclarr-config
      PVC_STORAGECLASS: &sc dcsi-nfs
      VOLSYNC_SNAPSHOTCLASS: *sc
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
