---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-private
  namespace: network
spec:
  interval: 15m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.7.1
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controller:
      replicaCount: 2
      extraEnvs:
        - name: TZ
          value: Europe/Warsaw
      kind: Deployment
      electionID: "ingress-private-leader"
      ingressClassByName: true
      ingressClassResource:
        default: false
        enabled: true
        name: private
        controllerValue: "k8s.io/ingress-private"
      service:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${CONFIG_INGRESS_PRIVATE_IP}"
      admissionWebhooks:
        objectSelector:
          matchExpressions:
            - key: ingress-class
              operator: In
              values:
                - private
      config:
        client-body-buffer-size: "100M"
        client-body-timeout: 120
        client-header-timeout: 120
        enable-brotli: "true"
        enable-real-ip: "true"
        hsts-max-age: 31449600
        keep-alive-requests: 10000
        keep-alive: 120
        custom-http-errors: 400,401,403,404,500,502,503,504
        ssl-protocols: "TLSv1.3 TLSv1.2"
        proxy-body-size: 0
        proxy-buffer-size: 16k
        proxy-read-timeout: 120
        proxy-send-timeout: 120
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          namespace: network
          namespaceSelector:
            any: true
      resources:
        requests:
          cpu: 15m
          memory: 250Mi
        limits:
          memory: 350Mi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: ingress-nginx
              app.kubernetes.io/component: controller
              app.kubernetes.io/instance: ingress-private
    defaultBackend:
      enabled: true
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 2.24.0
      replicaCount: 1
      resources:
        requests:
          cpu: 15m
          memory: 30Mi
        limits:
          memory: 35Mi
      extraEnvs:
        - name: TEMPLATE_NAME
          value: lost-in-space
        - name: SHOW_DETAILS
          value: "false"
