---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
spec:
  chartRef:
    kind: OCIRepository
    name: spegel
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    resources:
      requests:
        memory: 256Mi
      limits:
        memory: 256Mi
    spegel:
      containerdSock: /run/containerd/containerd.sock
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
      mirrorResolveTimeout: 40ms
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
      annotations:
        grafana_folder: Kubernetes
