---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 30m
  valuesFrom:
    - kind: ConfigMap
      name: kube-state-metrics-config
      valuesKey: kube-state-metrics.yaml
  values:
    crds:
      enabled: true
    cleanPrometheusOperatorObjectNames: true
    kubeApiServer:
      serviceMonitor:
        selector:
          k8s-app: kube-apiserver
    kubeScheduler:
      service:
        selector:
          k8s-app: kube-scheduler
    kubeControllerManager: &kubeControllerManager
      service:
        selector:
          k8s-app: kube-controller-manager
    kubeEtcd:
      <<: *kubeControllerManager # etcd runs on control plane nodes
    kubeProxy:
      enabled: false
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: [__meta_kubernetes_pod_node_name]
              targetLabel: kubernetes_node
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: [__meta_kubernetes_pod_node_name]
              targetLabel: kubernetes_node
    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: Kubernetes
        matchLabels:
          grafana.internal/instance: grafana
    alertmanager:
      route:
        main:
          enabled: true
          annotations:
            gatus.home-operations.com/endpoint: |-
              name: alertmanager
            # gethomepage.dev/enabled: "true"
            # gethomepage.dev/group: Infrastructure
            # gethomepage.dev/name: Alert Manager
            # gethomepage.dev/icon: alertmanager.svg
            # gethomepage.dev/pod-selector: app.kubernetes.io/name=alertmanager
          hostnames: ["${ALERT_HOSTNAME}"]
          parentRefs:
            - name: envoy-internal
              namespace: network
              sectionName: https
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
          global:
            resolveTimeout: 5m
        externalUrl: https://${ALERT_HOSTNAME}/
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: dcsi-iscsi
              resources:
                requests:
                  storage: 1Gi
    prometheus:
      route:
        main:
          enabled: true
          annotations:
            gatus.home-operations.com/endpoint: |-
              name: prometheus
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Infrastructure
            gethomepage.dev/name: Prometheus
            gethomepage.dev/icon: prometheus.svg
            gethomepage.dev/pod-selector: app.kubernetes.io/name=prometheus
            gethomepage.dev/widget.type: prometheus
            gethomepage.dev/widget.url: http://kube-prometheus-stack-prometheus.monitor:9090
          hostnames: ["${HOSTNAME}"]
          parentRefs:
            - name: envoy-internal
              namespace: network
              sectionName: https
      prometheusSpec:
        replicas: 1
        replicaExternalLabelName: "__replica__"
        scrapeInterval: 30s
        podAntiAffinity: hard
        externalUrl: https://prometheus.${PRIVATE_DOMAIN}/
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        enableAdminAPI: true
        walCompression: true
        enabledFeatures:
          - memory-snapshot-on-shutdown
        retention: 2d
        retentionSize: 6GB
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: dcsi-iscsi
              resources:
                requests:
                  storage: 10Gi
        thanos:
          image: quay.io/thanos/thanos:v0.41.0
          objectStorageConfig:
            existingSecret:
              name: thanos-objectstore-secret
              key: objstore.yml
      thanosService:
        enabled: true
      thanosServiceMonitor:
        enabled: true
