---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: flux-system
spec:
  decryption:
    provider: sops
  deletionPolicy: WaitForTermination
  interval: 30m
  path: ./kubernetes/apps
  prune: true
  patches:
    - patch: |-
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: _
        spec:
          decryption:
            provider: sops
          deletionPolicy: WaitForTermination
          patches:
            - patch: |-
                apiVersion: helm.toolkit.fluxcd.io/v2
                kind: HelmRelease
                metadata:
                  name: _
                spec:
                  install:

                    strategy:
                      name: RetryOnFailure
                  maxHistory: 3
                  rollback:
                    cleanupOnFail: true
                    recreate: true
                  timeout: 10m
                  uninstall:
                    keepHistory: false
                  upgrade:
                    cleanupOnFail: true

                    strategy:
                      name: RemediateOnFailure
                    remediation:
                      remediateLastFailure: true
                      retries: 2
              target:
                group: helm.toolkit.fluxcd.io
                kind: HelmRelease
          postBuild:
            substitute:
              PUBLIC_DOMAIN: movishell.pl
              PRIVATE_DOMAIN: ishioni.casa
              CONFIG_TRUENAS_HOST: leo.ishioni.casa
              CONFIG_TRUENAS_IP: 10.1.2.2
              CONFIG_TIMEZONE: Europe/Warsaw
      target:
        group: kustomize.toolkit.fluxcd.io
        kind: Kustomization
  postBuild:
    substitute:
      PUBLIC_DOMAIN: movishell.pl
      PRIVATE_DOMAIN: ishioni.casa
      CONFIG_TRUENAS_IP: 10.1.2.2
      CONFIG_TIMEZONE: Europe/Warsaw
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  wait: false
