# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  chart:
    spec:
      chart: cloudnative-pg
      version: 0.21.2
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: flux-system
  interval: 30m
  values:
    crds:
      create: true
    replicaCount: 2
    config:
      data:
        INHERITED_ANNOTATIONS: kyverno.io/ignore
    resources:
      requests:
        cpu: 15m
        memory: 150Mi
      limits:
        memory: 200Mi
    monitoring:
      podMonitorEnabled: true
      # grafanaDashboard:
      #   create: true
