---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: s3-proxy
spec:
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  values:
    controllers:
      s3proxy:
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: &configmap s3-proxy-configmap
        containers:
          app:
            image:
              repository: public.ecr.aws/nginx/nginx
              tag: "1.27.0"
    service:
      app:
        controller: s3proxy
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        className: public
        hosts:
          - host: &host ${HOSTNAME}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls: [hosts: [*host]]
    persistence:
      nginx-config:
        type: "custom"
        globalMounts:
          - path: /etc/nginx/nginx.conf
            subPath: nginx-config
        volumeSpec:
          configMap:
            name: *configmap
