---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: immich-redis
  namespace: fileserver
spec:
  interval: 15m
  chart:
    spec:
      chart: redis
      version: 17.15.1
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    architecture: standalone
    auth:
      enabled: true
    master:
      persistence:
        enabled: true
        existingClaim: immich-redis
      resources:
        requests:
          cpu: 50m
          memory: 50Mi
        limits:
          memory: 200Mi
    commonConfiguration: |-
      # Enable AOF https://redis.io/topics/persistence#append-only-file
      appendonly yes
      # Disable RDB persistence, AOF persistence already enabled.
      save ""
      maxmemory 188743680
      maxmemory-policy allkeys-lru
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 10Mi
        limits:
          memory: 20Mi
  valuesFrom:
    - kind: Secret
      name: immich-secret
      valuesKey: REDIS_PASSWORD
      targetPath: auth.password
