---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app mediamtx
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        strategy: RollingUpdate
        annotations:
          configmap.reloader.stakater.com/reload: &configMap mediamtx-configmap
          secret.reloader.stakater.com/reload: &secret camera.internal.${SECRET_DOMAIN}
        pod:
          securityContext:
            runAsUser: 1003
            runAsGroup: 2000
            fsGroup: 2000
        containers:
          main:
            image:
              repository: docker.io/bluenviron/mediamtx
              tag: 1.3.0-ffmpeg
            resources:
              requests:
                cpu: 50m
                memory: 50Mi
              limits:
                memory: 200Mi
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
              startup: *probes
    service:
      main:
        ports:
          http:
            port: 9997
          prometheus:
            port: 9998
      streams:
        controller: main
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: "${CONFIG_MEDIAMTX_IP}"
          external-dns.alpha.kubernetes.io/hostname: camera.internal.${SECRET_DOMAIN}
        ports:
          rtsp-tcp:
            port: 554
            targetPort: 8554
          hls:
            port: 443
            targetPort: 8888
    persistence:
      config-file:
        type: configMap
        name: *configMap
        globalMounts:
          - path: /mediamtx.yml
            subPath: mediamtx.yml
            readOnly: true
      cert-key:
        type: secret
        name: *secret
        globalMounts:
          - path: /tls.key
            subPath: tls.key
          - path: /tls.crt
            subPath: tls.crt
    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: prometheus
            scheme: http
            path: /metrics
