---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: games
components:
  - ../../components/alerts
  - ../../components/namespace
resources:
  # - ./minecraft/ks.yaml
  # - ./minecraft-test/ks.yaml
