---
services:
  opconnect-api:
    image: ghcr.io/1password/connect-api:1.7.4
    container_name: opconnect-api
    restart: unless-stopped
    networks:
      apps:
    env_file:
      - ./secrets.env
    environment:
      OP_HTTP_PORT: &appPort ${APP_PORT}
      OP_BUS_PORT: &busPort 11220
      OP_BUS_PEERS: "opconnect-sync:11220"
      TZ: Europe/Warsaw
    expose:
      - *busPort
      - *appPort
    volumes:
      - data:/home/opuser/.op/data
    labels:
      traefik.enable: "true"
      traefik.http.services.opconnect.loadbalancer.server.port: *appPort
      traefik.http.routers.opconnect.entrypoints: https
      traefik.http.routers.opconnect.rule: Host(`${HOST}`)
      traefik.http.routers.opconnect.tls: true
      traefik.http.routers.opconnect.service: opconnect
  opconnect-sync:
    image: ghcr.io/1password/connect-sync:1.7.4
    container_name: opconnect-sync
    restart: unless-stopped
    networks:
      apps:
    env_file:
      - ./secrets.env
    environment:
      OP_BUS_PORT: *busPort
      OP_BUS_PEERS: "opconnect-api:11220"
      TZ: Europe/Warsaw
    expose:
      - *busPort
    volumes:
      - data:/home/opuser/.op/data

volumes:
  data:

networks:
  apps:
    external: true
