---
services:
  openwebrx:
    image: slechev/openwebrxplus-softmbe:1.2.107@sha256:e9db27c8e52cf7ca1a2fbbb8dc143fa61176617dc39e0d13d7dd06d826f03008
    container_name: openwebrx
    devices:
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped
    networks:
      apps:
    env_file:
      - ./secrets.env
    environment:
      TZ: Europe/Warsaw
    expose:
      - ${APP_PORT}
    volumes:
      - owrx_etc:/etc/openwebrx
      - owrx_var:/var/lib/openwebrx
      - owrx_plugins:/usr/lib/python3/dist-packages/htdocs/plugins
    labels:
      traefik.enable: "true"
      traefik.http.services.owrx.loadbalancer.server.port: ${APP_PORT}
      traefik.http.routers.owrx.entrypoints: https
      traefik.http.routers.owrx.rule: Host(`${HOST}`)
      traefik.http.routers.owrx.tls: true
      traefik.http.routers.owrx.service: owrx

networks:
  apps:
    external: true

volumes:
  owrx_etc:
  owrx_var:
  owrx_plugins:
