---
services:
  openwebrx:
    image: slechev/openwebrxplus-softmbe:1.2.101@sha256:d33977b62224e3e94208696600971d9b47b909f7f0c1d6ee19f1a80cf12af586
    container_name: openwebrx
    devices:
      - /dev/bus/usb:/dev/bus/usb
    restart: unless-stopped
    networks:
      apps:
    env_file:
      - ./secrets.env
    environment:
      TZ: Europe/Warsaw
    expose:
      - ${APP_PORT}
    volumes:
      - owrx_etc:/etc/openwebrx
      - owrx_var:/var/lib/openwebrx
      - owrx_plugins:/usr/lib/python3/dist-packages/htdocs/plugins
    labels:
      traefik.enable: "true"
      traefik.http.services.owrx.loadbalancer.server.port: ${APP_PORT}
      traefik.http.routers.owrx.entrypoints: https
      traefik.http.routers.owrx.rule: Host(`${HOST}`)
      traefik.http.routers.owrx.tls: true
      traefik.http.routers.owrx.service: owrx

networks:
  apps:
    external: true

volumes:
  owrx_etc:
  owrx_var:
  owrx_plugins:
