---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kubelet-csr-approver
spec:
  chart:
    spec:
      chart: kubelet-csr-approver
      version: 1.1.0
      sourceRef:
        kind: HelmRepository
        name: postfinance
        namespace: flux-system
  interval: 30m
  valuesFrom:
    - kind: ConfigMap
      name: kubelet-csr-approver-values
