---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nut-exporter
spec:
  chartRef:
    kind: OCIRepository
    name: nut-exporter
  interval: 30m
  values:
    controllers:
      nutexporter:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker.io/hon95/prometheus-nut-exporter
              tag: "1.2.1"
            env:
              TZ: ${CONFIG_TIMEZONE}
              HTTP_PATH: &metrics /metrics
              RUST_LOG: debug
            resources:
              requests:
                cpu: 15m
                memory: 30Mi
              limits:
                memory: 50Mi
    service:
      app:
        controller: nutexporter
        ports:
          http:
            port: 9995
    serviceMonitor:
      app:
        serviceName: nut-exporter
        endpoints:
          - port: http
            scheme: http
            path: *metrics
            scrapeTimeout: 10s
            params:
              target: ["nut.ishioni.casa:3493"]
            relabelings:
              - sourceLabels: [__param_target]
                targetLabel: target
