---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: envoy-gateway
  interval: 30m
  values:
    config:
      envoyGateway:
        gatewayAPI:
          enabled:
            - XListenerSet
        provider:
          type: Kubernetes
          kubernetes:
            deploy:
              type: GatewayNamespace
        extensionApis:
          enableBackend: true
    global:
      imageRegistry: mirror.gcr.io
