---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-gpu
spec:
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.31.0
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  interval: 30m
  dependsOn:
    - name: intel-device-plugin-operator
      namespace: kube-system
  values:
    name: intel-gpu-plugin
    sharedDevNum: 3
    nodeFeatureRule: false
