---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-unifi
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns-unifi
  interval: 30m
  values:
    logLevel: &logLevel info
    domainFilters: ["${PUBLIC_DOMAIN}", "${PRIVATE_DOMAIN}", "*.traefik.${PRIVATE_DOMAIN}"]
    policy: sync
    sources: [gateway-httproute, service, ingress]
    triggerLoopOnEvent: true
    txtPrefix: talos.
    txtOwnerId: talos
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.8.2
        env:
          - name: LOG_LEVEL
            value: *logLevel
          - name: UNIFI_HOST
            value: https://unifi.${PRIVATE_DOMAIN}
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                name: &secret externaldns-unifi-secret
                key: UNIFI_API_KEY
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    resources:
      requests:
        memory: 100Mi
        cpu: 25m
      limits:
        memory: 250Mi
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
