---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ocis-gatus-ep
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: OpenCloud
        group: Applications
        url: https://owncloud.${PUBLIC_DOMAIN}/status
        interval: 1m
        ui:
          hide-hostname: true
          hide-url: true
        client:
          dns-resolver: tcp://10.1.2.1:53
        conditions:
          - "[STATUS] == 200"
        alerts:
          - type: pushover
            send-on-resolved: true
