---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: github
components:
  - ../../components/alerts
  - ../../components/namespace
  - ../../components/global-vars
resources:
  - ./arc/ks.yaml
