---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  interval: 30m
  maxHistory: 3
  values:
    replicaCount: 2
    manager:
      image:
        repository: ghcr.io/dragonflydb/operator
    serviceMonitor:
      enabled: false
    grafanaDashboard:
      enabled: true
      folder: Storage
      # -- Grafana dashboard configmap annotations.
      annotations:
        name: grafana_folder
