---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name flux-web-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        config.yaml: |
          apiVersion: web.fluxcd.controlplane.io/v1
          kind: Config
          spec:
            baseURL: https://flux-operator.ishioni.casa/
            authentication:
              type: OAuth2
              oauth2:
                provider: OIDC
                clientID: "{{ .OIDC_CLIENT_ID }}"
                clientSecret: "{{ .OIDC_CLIENT_SECRET }}"
                issuerURL: https://auth.movishell.pl/application/o/fluxcd/
  dataFrom:
    - extract:
        key: flux
