---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  chartRef:
    kind: OCIRepository
    name: flux-operator
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    serviceMonitor:
      create: true
    web:
      networkPolicy:
        create: false
