---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name recyclarr-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        RADARR_API_KEY: "{{ .RADARR__API_KEY }}"
        SONARR_API_KEY: "{{ .SONARR__API_KEY }}"
  dataFrom:
    - extract:
        key: sonarr
    - extract:
        key: radarr
