---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: network-k8s-gateway
  namespace: flux-system
spec:
  path: ./kubernetes/apps/network/k8s-gateway/app
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  prune: true
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
