---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: descheduler
spec:
  chart:
    spec:
      chart: descheduler
      version: 0.30.0
      sourceRef:
        kind: HelmRepository
        name: descheduler
        namespace: flux-system
  interval: 30m
  values:
    kind: Deployment
    schedule: "*/5 * * * *"
    deschedulerPolicy:
      strategies:
        RemovePodsHavingTooManyRestarts:
          enabled: true
          params:
            podsHavingTooManyRestarts:
              podRestartThreshold: 5
              includingInitContainers: true
        RemovePodsViolatingTopologySpreadConstraint:
          enabled: true
          params:
            includeSoftConstraints: true
        PodLifeTime:
          enabled: true
          params:
            podLifeTime:
              states:
                - Pending
                - PodInitializing
                - ContainerCreating
              maxPodLifeTimeSeconds: 3600
        RemoveFailedPods:
          enabled: true
          params:
            failedPods:
              reasons:
                - NodeShutdown
                - ImagePullBackOff
                - CreateContainerConfigError
              includingInitContainers: true
              excludeOwnerKinds:
                - Job
              minPodLifetimeSeconds: 3600
        RemoveDuplicates:
          enabled: true
        RemovePodsViolatingNodeTaints:
          enabled: true
        RemovePodsViolatingNodeAffinity:
          enabled: true
          params:
            nodeAffinityType:
              - requiredDuringSchedulingIgnoredDuringExecution
        RemovePodsViolatingInterPodAntiAffinity:
          enabled: true
        LowNodeUtilization:
          enabled: true
          params:
            nodeResourceUtilizationThresholds:
              thresholds:
                cpu: 35
                memory: 35
              targetThresholds:
                cpu: 40
                memory: 40
    service:
      enabled: true
    serviceMonitor:
      enabled: true
