---
apiVersion: v1
kind: ConfigMap
metadata:
  name: immich-configmap
  namespace: fileservers
data:
  DB_PORT: "5432"
  DISABLE_REVERSE_GEOCODING: "true"
  ENABLE_MAPBOX: "false"
  LOG_LEVEL: verbose
  NODE_ENV: "production"
  REDIS_HOSTNAME: immich-redis-master.fileservers.svc.cluster.local
  REDIS_PORT: "6379"
  REDIS_DBINDEX: "0"
  TYPESENSE_HOST: immich-typesense.fileservers.svc.cluster.local
  TYPESENSE_PORT: "8108"
  TYPESENSE_PROTOCOL: http
  TYPESENSE_DATA_DIR: /config
  IMMICH_WEB_URL: http://immich-web.fileservers.svc.cluster.local:3000
  IMMICH_SERVER_URL: http://immich-server.fileservers.svc.cluster.local:3001
  IMMICH_MACHINE_LEARNING_URL: http://immich-machine-learning.fileservers.svc.cluster.local:3003
  # No longer able to set these with env vars :(
  # OAUTH_ENABLED: "true"
  # OAUTH_AUTO_REGISTER: "true"
  # OAUTH_BUTTON_TEXT: Login with Authentik
  # OAUTH_ISSUER_URL: https://auth.${SECRET_DOMAIN}/application/o/immich/.well-known/openid-configuration
