---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: security-external-secrets
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/security/external-secrets/app
  targetNamespace: security
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  commonMetadata:
    labels:
      app.kubernetes.io/name: external-secrets
  prune: true
  wait: true
  interval: 10m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/ishioni/CRDs-catalog/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: security-external-secrets-op
  namespace: flux-system
spec:
  path: ./kubernetes/talos/apps/security/external-secrets/op
  targetNamespace: security
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  commonMetadata:
    labels:
      app.kubernetes.io/name: &appname external-secrets-op
  prune: true
  wait: true
  interval: 10m
  dependsOn:
    - name: security-external-secrets
  postBuild:
    substitute:
      APP: *appname
      HOSTNAME: opconnect.internal.${SECRET_DOMAIN}
