---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app immich-web
  namespace: fileserver
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.0.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: immich-server
    - name: redis
      namespace: database
  values:
    controllers:
      main:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret immich-secret
          configmap.reloader.stakater.com/reload: &configmap immich-configmap
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        containers:
          main:
            image:
              repository: ghcr.io/immich-app/immich-web
              tag: v1.84.0
            envFrom:
              - secretRef:
                  name: *secret
              - configMapRef:
                  name: *configmap
            resources:
              requests:
                cpu: 100m
                memory: 250Mi
              limits:
                memory: 500Mi
    service:
      main:
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: "public"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/icon: simple-icons:googlephotos
          hajimari.io/group: media
          hajimari.io/appName: Immich
          nginx.ingress.kubernetes.io/configuration-snippet: |-
            rewrite /api/(.*) /$1 break;
            set $forwarded_client_ip "";
              if ($http_x_forwarded_for ~ "^([^,]+)") {
                set $forwarded_client_ip $1;
              }
            set $client_ip $remote_addr;
            if ($forwarded_client_ip != "") {
              set $client_ip $forwarded_client_ip;
            }
          nignx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
        hosts:
          - host: &host "photos.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
              - path: /api
                pathType: Prefix
                service:
                  name: immich-server
                  port: 3001
        tls:
          - secretName: *host
            hosts:
              - *host
    persistence:
      library:
        enabled: true
        existingClaim: immich-media
        globalMounts:
          - path: /usr/src/app/upload
