---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        ## Infrastructure
        HOMEPAGE_VAR_UNIFI_TOKEN: "{{ .unifi_token }}"
        HOMEPAGE_VAR_HASS_TOKEN: "{{ .hass_token }}"
        HOMEPAGE_VAR_TRUENAS_TOKEN: "{{ .truenas_token }}"
        ## Downloads
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .bazarr_token }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .prowlarr_token }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .radarr_token }}"
        HOMEPAGE_VAR_READARR_TOKEN: "{{ .readarr_token }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .sonarr_token }}"
        HOMEPAGE_VAR_LIDARR_TOKEN: "{{ .lidarr_token }}"
        HOMEPAGE_VAR_TRANSMISSION_PASSWORD: "{{ .transmission_password }}"
        HOMEPAGE_VAR_NAVIDROME_USER: "{{ .navidrome_user }}"
        HOMEPAGE_VAR_NAVIDROME_SALT: "{{ .navidrome_salt }}"
        HOMEPAGE_VAR_NAVIDROME_TOKEN: "{{ .navidrome_token }}"
        ## Security
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: "{{ .authentik_token }}"
        ## Selfhosted
        HOMEPAGE_VAR_IMMICH_TOKEN: "{{ .immich_token }}"
        HOMEPAGE_VAR_AUDIOBOOKSHELF_TOKEN: "{{ .audiobookshelf_token }}"
        HOMEPAGE_VAR_PAPERLESS_TOKEN: "{{ .paperless_token }}"
        HOMEPAGE_VAR_NEXTCLOUD_TOKEN: "{{ .nextcloud_token }}"
  data:
    ## Non Cluster
    - secretKey: unifi_token
      remoteRef:
        key: unifi
        property: HOMEPAGE_KEY
    - secretKey: hass_token
      remoteRef:
        key: homeassistant
        property: HASS_TOKEN
    - secretKey: truenas_token
      remoteRef:
        key: democratic-csi
        property: TRUENAS_API_TOKEN
    ## Downloads
    - secretKey: bazarr_token
      remoteRef:
        key: bazarr
        property: API_KEY
    - secretKey: prowlarr_token
      remoteRef:
        key: prowlarr
        property: PROWLARR__API_KEY
    - secretKey: radarr_token
      remoteRef:
        key: radarr
        property: RADARR__API_KEY
    - secretKey: readarr_token
      remoteRef:
        key: readarr
        property: READARR__API_KEY
    - secretKey: sonarr_token
      remoteRef:
        key: sonarr
        property: SONARR__API_KEY
    - secretKey: lidarr_token
      remoteRef:
        key: lidarr
        property: LIDARR__API_KEY
    - secretKey: transmission_password
      remoteRef:
        key: transmission
        property: RPC_PASSWORD
    ## Security
    - secretKey: authentik_token
      remoteRef:
        key: authentik
        property: TERRAFORM_TOKEN
    - secretKey: immich_token
      remoteRef:
        key: immich
        property: HOMEPAGE_API_TOKEN
    - secretKey: audiobookshelf_token
      remoteRef:
        key: audiobookshelf
        property: API_TOKEN
    - secretKey: navidrome_user
      remoteRef:
        key: navidrome
        property: username
    - secretKey: navidrome_salt
      remoteRef:
        key: navidrome
        property: NAVIDROME_SALT
    - secretKey: navidrome_token
      remoteRef:
        key: navidrome
        property: NAVIDROME_TOKEN
    - secretKey: paperless_token
      remoteRef:
        key: paperless
        property: API_TOKEN
    - secretKey: nextcloud_token
      remoteRef:
        key: nextcloud
        property: METRICS_TOKEN
