---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: homepage
  values:
    controllers:
      homepage:
        annotations:
          secret.reloader.stakater.com/reload: &secret homepage-secret
          configmap.reloader.stakater.com/reload: &configmap homepage-config
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.10.0
            env:
              TZ: ${CONFIG_TIMEZONE}
              HOMEPAGE_ALLOWED_HOSTS: ${HOSTNAME}
              # LOG_LEVEL: debug
            envFrom:
              - secretRef:
                  name: *secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: 3000
                    path: /api/healthcheck
                    httpHeaders:
                      - name: Host
                        value: ${HOSTNAME}
                  initialDelaySeconds: 0
              readiness: *probes
              startup: *probes
        serviceAccount:
          identifier: homepage
    service:
      app:
        controller: homepage
        ports:
          http:
            port: 3000
    route:
      app:
        annotations:
          gatus.home-operations.com/enabled: "false"
        hostnames: ["${HOSTNAME}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
    persistence:
      config:
        enabled: true
        type: configMap
        name: *configmap
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
    serviceAccount:
      homepage: {}
    rbac:
      bindings:
        homepage:
          type: ClusterRoleBinding
          roleRef:
            kind: ClusterRole
            name: homepage
          subjects:
            - identifier: homepage
      roles:
        homepage:
          type: ClusterRole
          rules:
            - apiGroups: [""]
              resources: [namespaces, pods, nodes]
              verbs: [get, list]
            - apiGroups: [extensions, networking.k8s.io]
              resources: [ingresses]
              verbs: [get, list]
            - apiGroups: [metrics.k8s.io]
              resources: [nodes, pods]
              verbs: [get, list]
            - apiGroups: [apiextensions.k8s.io]
              resources: [customresourcedefinitions/status]
              verbs: [get]
            - apiGroups: [gateway.networking.k8s.io]
              resources: [httproutes, gateways]
              verbs: [get, list]
