---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name dcsi-iscsi-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        driver-config-file.yaml: |
          driver: freenas-api-iscsi
          httpConnection:
            protocol: https
            host: "${LEO_HOSTNAME}"
            port: "443"
            apiKey: {{ .LEO_API_TOKEN }}
            allowInsecure: false
          zfs:
            datasetProperties:
              "org.freenas:description": "{{`{{ parameters.[csi.storage.k8s.io/pvc/name] }}`}}"
            datasetParentName: SSD/talos/volumes
            detachedSnapshotsDatasetParentName: SSD/talos/snapshots
            zvolCompression: gzip
            zvolDedup: false
            zvolEnableReservation: false
            zvolBlocksize: 16K
          iscsi:
            targetPortal: "${LEO_HOSTNAME}:3260"
            targetGroups:
              - targetGroupPortalGroup: 7
                targetGroupInitiatorGroup: 18
                targetGroupAuthType: None
            extentInsecureTpc: true
            extentXenCompat: false
            extentDisablePhysicalBlocksize: true
            extentBlocksize: 4096
            extentRpm: "SSD"
            extentAvailThreshold: 0
          node:
            mount:
              checkFilesystem:
                xfs:
                  enabled: true
                ext4:
                  enabled: true
  dataFrom:
    - extract:
        conversionStrategy: Default
        decodingStrategy: None
        key: democratic-csi
