---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app radarr
  namespace: &namespace downloads
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../components/authentik-proxy
    - ../../../../components/pvc
  dependsOn:
    - name: postgres-cluster
      namespace: database
    - name: external-secrets
      namespace: security
    - name: dcsi-nfs
      namespace: storage
  interval: 30m
  path: ./kubernetes/apps/downloads/radarr/app
  postBuild:
    substitute:
      APP: *app
      HOSTNAME: movies.${PUBLIC_DOMAIN}
      PVC_CLAIM: radarr-config
      PVC_STORAGECLASS: dcsi-nfs
  prune: true
  sourceRef:
    kind: GitRepository
    name: homelab-ops
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
