---
# yaml-language-server: $schema=https://crd.movishell.pl/source.toolkit.fluxcd.io/gitrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: homelab-ops
  namespace: flux-system
spec:
  interval: 30m
  ref:
    branch: master
  url: https://github.com/ishioni/homelab-ops
  ignore: |
    # exclude all
    /*
    # include kubernetes directory
    !/kubernetes/talos
    !/infrastructure/terraform
---
# yaml-language-server: $schema=https://crd.movishell.pl/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster
  namespace: flux-system
spec:
  interval: 30m
  path: ./kubernetes/talos/flux
  prune: true
  wait: false
  sourceRef:
    kind: GitRepository
    name: homelab-ops
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets
