---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: lidarr
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      secret.reloader.stakater.com/reload: &secret lidarr-secret
    initContainers:
      01-init-db:
        image: ghcr.io/onedr0p/postgres-init:14.9
        imagePullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: *secret
    image:
      repository: ghcr.io/onedr0p/lidarr-develop
      tag: 1.4.2.3576
    podSecurityContext:
      runAsUser: 1003
      runAsGroup: 2000
      fsGroup: 2000
    env:
      TZ: Europe/Warsaw
      LIDARR__INSTANCE_NAME: Lidarr
      LIDARR__PORT: &port 80
      RADARR__LOG_LEVEL: info
    envFrom:
      - secretRef:
          name: *secret
    service:
      main:
        ports:
          http:
            port: *port
    probes:
      liveness: &probes
        enabled: true
        custom: true
        spec:
          httpGet:
            path: /ping
            port: *port
          initialDelaySeconds: 0
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
      readiness: *probes
      startup:
        enabled: false
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        storageClass: truenas-hdd-nfs
        accessMode: ReadWriteOnce
        size: 5Gi
    persistence:
      media:
        enabled: true
        existingClaim: media-datastore
        mountPath: /media
        retain: true
    ingress:
      main:
        enabled: true
        ingressClassName: public
        annotations:
          authentik.home.arpa/enabled: "true"
          nginx.ingress.kubernetes.io/auth-signin: |-
            https://music.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$escaped_request_uri
          hajimari.io/enable: "true"
          hajimari.io/appName: Lidarr
          hajimari.io/icon: shopping-music
          hajimari.io/group: media
        hosts:
          - host: &host "music.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - secretName: *host
            hosts:
              - *host
    resources:
      requests:
        cpu: 50m
        memory: 200Mi
      limits:
        memory: 2000Mi
