---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  chartRef:
    kind: OCIRepository
    name: volsync
  interval: 30m
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
    resources:
      limits:
        cpu:
        memory: 300Mi
      requests:
        cpu: 15m
        memory: 64Mi
