---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.0.1/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      navidrome:
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: &gid 5000
            fsGroup: *gid
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.56.0
            env:
              TZ: ${CONFIG_TIMEZONE}
              ND_DATAFOLDER: /config
              ND_MUSICFOLDER: /music
              ND_PORT: &port 8080
              ND_SCANSCHEDULE: 30m
              ND_ENABLEDOWNLOADS: "true"
              ND_ENABLEEXTERNALSERVICES: "true"
              ND_ENABLESHARING: "false"
              ND_ENABLETRANSCODINGCONFIG: "false"
              ND_LOGLEVEL: info
              ND_PROMETHEUS_ENABLED: true
              ND_REVERSEPROXYUSERHEADER: "X-authentik-username"
              ND_REVERSEPROXYWHITELIST: "172.16.0.0/16"
              ND_AUTHREQUESTLIMIT: 0
              ND_ENABLEINSIGHTSCOLLECTOR: "false"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
              readiness: *probes
            resources:
              requests:
                cpu: 50m
                memory: 100Mi
              limits:
                memory: 300Mi
    service:
      app:
        controller: navidrome
        ports:
          http:
            port: *port
    ingress:
      main:
        className: public
        annotations:
          authentik.home.arpa/enabled: "true"
          nginx.ingress.kubernetes.io/auth-signin: |-
            https://${HOSTNAME}/outpost.goauthentik.io/start?rd=$escaped_request_uri
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Selfhosted
          gethomepage.dev/name: Navidrome
          gethomepage.dev/icon: navidrome.svg
          gethomepage.dev/widget.type: navidrome
          gethomepage.dev/widget.url: http://navidrome.selfhosted:8080
          gethomepage.dev/widget.user: "{{`{{HOMEPAGE_VAR_NAVIDROME_USER}}`}}"
          gethomepage.dev/widget.token: "{{`{{HOMEPAGE_VAR_NAVIDROME_TOKEN}}`}}"
          gethomepage.dev/widget.salt: "{{`{{HOMEPAGE_VAR_NAVIDROME_SALT}}`}}"
        hosts:
          - host: ${HOSTNAME}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: ${PVC_CLAIM}
      music:
        existingClaim: selfhosted-pvc
        globalMounts:
          - path: /music
            subPath: Music
            readOnly: true
