---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword-connect
spec:
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m
  dependsOn:
    - name: external-secrets
  values:
    controllers:
      main:
        annotations:
          secret.reloader.stakater.com/reload: &secret onepassword-connect-secret
        strategy: RollingUpdate
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 999
            runAsGroup: 999
            fsGroup: 999
            fsGroupChangePolicy: OnRootMismatch
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/onepassword-connect-api
              tag: 1.7.2
            env:
              OP_BUS_PORT: "11220"
              OP_BUS_PEERS: "localhost:11221"
              OP_HTTP_PORT: &mainport 8080
              OP_SESSION:
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: 1password-credentials.json
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /heartbeat
                    port: *mainport
                  initialDelaySeconds: 15
                  periodSeconds: 30
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *mainport
                  initialDelaySeconds: 15
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 20Mi
          sync:
            image:
              repository: ghcr.io/onedr0p/onepassword-sync
              tag: 1.7.2
            env:
              - name: OP_SESSION
                valueFrom:
                  secretKeyRef:
                    name: *secret
                    key: 1password-credentials.json
              - name: OP_HTTP_PORT
                value: &syncport 8081
              - name: OP_BUS_PORT
                value: "11221"
              - name: OP_BUS_PEERS
                value: "localhost:11220"
            probes:
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *syncport
                  initialDelaySeconds: 15
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /heartbeat
                    port: *syncport
                  failureThreshold: 3
                  periodSeconds: 30
                  initialDelaySeconds: 15
            resources:
              requests:
                cpu: 5m
                memory: 10Mi
              limits:
                memory: 50Mi
    service:
      main:
        controller: main
        ports:
          http:
            port: *mainport
    ingress:
      main:
        enabled: true
        className: private
        hosts:
          - host: &host ${HOSTNAME}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls: [hosts: [*host]]
    persistence:
      shared:
        type: emptyDir
        advancedMounts:
          main:
            main:
              - path: /home/opuser/.op/data
            sync:
              - path: /home/opuser/.op/data
