---
services:
  ollama:
    image: docker.io/ollama/ollama:0.14.0
    devices:
      - /dev/dri
    ports:
      - ${APP_PORT}
    networks:
      apps:
    volumes:
      - ollama_data:/root/.ollama
    container_name: ollama
    pull_policy: always
    tty: true
    restart: always
    environment:
      OLLAMA_KEEP_ALIVE: 5m
      OLLAMA_HOST: 0.0.0.0
      OLLAMA_VULKAN: "1"
    labels:
      traefik.enable: "true"
      traefik.http.services.ollama.loadbalancer.server.port: ${APP_PORT}
      traefik.http.routers.ollama.entrypoints: https
      traefik.http.routers.ollama.rule: Host(`${HOST}`)
      traefik.http.routers.ollama.tls: true
      traefik.http.routers.ollama.service: ollama

volumes:
  ollama_data:

networks:
  apps:
    external: true
