---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/volsync.backube/replicationdestination_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: navidrome
  namespace: media
spec:
  trigger:
    manual: restore-once
  restic:
    # Use an existing PVC, don't provision a new one
    destinationPVC: config-navidrome-0
    copyMethod: Direct
    storageClassName: truenas-ssd-nvmeof
    repository: minecraft-restic-s3
