---
# yaml-language-server: $schema=https://crd.movishell.pl/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 30m
  values:
    installCRDs: true
    leaderElect: true
    image:
      repository: ghcr.io/external-secrets/external-secrets
    replicaCount: 2
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: external-secrets
            app.kubernetes.io/instance: external-secrets
    serviceMonitor:
      enabled: true
      interval: 1m
    grafanaDashboard:
      enabled: true
      annotations:
        grafana_folder: Networking
    certController:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      serviceMonitor:
        enabled: true
        interval: 1m
    webhook:
      image:
        repository: ghcr.io/external-secrets/external-secrets
      replicaCount: 2
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: external-secrets-webhook
              app.kubernetes.io/instance: external-secrets
      serviceMonitor:
        enabled: true
        interval: 1m
