---
name: "Lint"

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    name: MegaLinter
    runs-on: arc-homelab-dind
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: MegaLinter
        uses: oxsecurity/megalinter/flavors/terraform@62c799d895af9bcbca5eacfebca29d527f125a57 # v9.1.0
        env:
          GITHUB_TOKEN: "${{ steps.app-token.outputs.token }}"
          PRINT_ALPACA: false
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'workflow_dispatch' }}
          ENABLE_LINTERS: |-
            ${{
              join(
                fromJSON('
                  [
                    "ACTION_ACTIONLINT",
                    "MARKDOWN_MARKDOWNLINT",
                    "REPOSITORY_GIT_DIFF",
                    "REPOSITORY_SECRETLINT",
                    "TERRAFORM_TERRAFORM_FMT",
                    "YAML_PRETTIER",
                    "YAML_YAMLLINT"
                  ]
                '),
                ','
              )
            }}
          ACTION_ACTIONLINT_CONFIG_FILE: .ci/actionlint/actionlint.yml
          MARKDOWN_MARKDOWNLINT_CONFIG_FILE: .ci/markdownlint/markdownlint.config.yaml
          MARKDOWN_MARKDOWNLINT_RULES_PATH: .ci/markdownlint/
          YAML_PRETTIER_CONFIG_FILE: .ci/prettier/.prettierrc.yaml
          YAML_PRETTIER_ARGUMENTS: --ignore-path .ci/prettier/.prettierignore
          YAML_YAMLLINT_CONFIG_FILE: .ci/yamllint/.yamllint.yaml
