---
name: Meta - Enforce PR labels

on: # yamllint disable-line rule:truthy
  pull_request:
    types: [labeled, unlabeled, opened, edited, synchronize]

jobs:
  enforce-label:
    name: Enforce PR labels
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - uses: yogevbd/enforce-label-action@2.2.2
        env:
          GITHUB_TOKEN: "${{ steps.generate-token.outputs.token }}"
        with:
          BANNED_LABELS: "do-not-merge"
