talos-master-0.ishioni.casa.yaml
talos-master-1.ishioni.casa.yaml
talos-master-2.ishioni.casa.yaml
talos-worker-0.ishioni.casa.yaml
talos-worker-1.ishioni.casa.yaml
talos-worker-2.ishioni.casa.yaml
talosconfig
talos-test-tmaster-0.ishioni.casa.yaml
talos-test-tmaster-1.ishioni.casa.yaml
talos-test-tmaster-2.ishioni.casa.yaml
talos-test-tworker-0.ishioni.casa.yaml
talos-test-tworker-1.ishioni.casa.yaml
talos-test-tworker-2.ishioni.casa.yaml
