---
# yaml-language-server: $schema=https://crd.movishell.pl/cilium.io/ciliumbgpclusterconfig_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPClusterConfig
metadata:
  name: cilium-bgp
spec:
  nodeSelector:
    matchExpressions:
      - {key: somekey, operator: NotIn, values: ["never-used-value"]}
      # - {key: node-role.kubernetes.io/control-plane, operator: NotIn, values: [""]}
  bgpInstances:
    - name: cilium
      localASN: 65500
      peers:
        - name: gateway
          peerASN: 65500
          peerAddress: 10.1.2.1
          peerConfigRef:
            name: gateway-bgp
---
# yaml-language-server: $schema=https://crd.movishell.pl/cilium.io/ciliumbgppeerconfig_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPPeerConfig
metadata:
  name: gateway-bgp
spec:
  families:
    - afi: ipv4
      safi: unicast
      advertisements:
        matchLabels:
          advertise: "bgp"
  gracefulRestart:
    enabled: true
    restartTimeSeconds: 30
  timers:
    connectRetryTimeSeconds: 12
    holdTimeSeconds: 9
    keepAliveTimeSeconds: 3
---
# yaml-language-server: $schema=https://crd.movishell.pl/cilium.io/ciliumbgpadvertisement_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumBGPAdvertisement
metadata:
  name: cilium-lb-advertisements
  labels:
    advertise: bgp
spec:
  advertisements:
    - advertisementType: "Service"
      service:
        addresses:
          - LoadBalancerIP
      selector:
        matchExpressions:
          - {key: somekey, operator: NotIn, values: ["never-used-value"]}
---
# yaml-language-server: $schema=https://crd.movishell.pl/cilium.io/ciliumloadbalancerippool_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: bgp-pool-public
spec:
  blocks:
    - cidr: 10.84.2.0/27
  serviceSelector:
    matchExpressions:
      - {key: io.cilium/ippool, operator: In, values: [public]}
---
# yaml-language-server: $schema=https://crd.movishell.pl/cilium.io/ciliumloadbalancerippool_v2alpha1.json
apiVersion: cilium.io/v2alpha1
kind: CiliumLoadBalancerIPPool
metadata:
  name: bgp-pool-private
spec:
  blocks:
    - cidr: 10.84.2.32/27
  serviceSelector:
    matchExpressions:
      - {key: io.cilium/ippool, operator: NotIn, values: [public]}
