---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name searxng-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        SEARXNG_SECRET: "{{ .SEARXNG_SECRET }}"
        SEARXNG_REDIS_URL: redis://dragonfly.database.svc.cluster.local:6379/6
  dataFrom:
    - extract:
        key: searxng
