---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
configMapGenerator:
  - name: searxng-config
    files:
      - settings.yml=./resources/settings.yaml
      - limiter.toml=./resources/limiter.toml
configurations:
  - ./resources/kustomizeconfig.yaml
